﻿.tabs {
    position: absolute;
    top: -80px; /* height of tab plus margin-top of section heading */
}

.tab {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: #F2F2F2;
  position: relative;
  color: #727272;
  padding: 8px 16px;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-left: -3px;
  }

  &.active {
    background: #fff;
    z-index: 1;
    color: #9A9A9A;
  }
}

.chart {
  max-width: calc(100% - 80px);
  width: 100%;
  margin: auto;

  &-legend {
    height: 2px;
    width: 40px;
    display: inline-block;

    &-label-text {
      color: blue;
    }
  }
}