﻿.hide {
  display: none;
}

.yellow-text {
  color: #F9CE5A;
}

.clearfix {
    display: block;
    clear: both;
    width: 100%;
}

#s4-titlerow {
  display: none !important;
}

.section-heading {
  text-align: center;
  font-weight: 400;
  margin: 40px 0;
}

.graph-section {
    position: relative;
}

.graph-content {
    display: none;
}

.graph-content.active {
    display: block;
}
