﻿/* TOP PART */
.top-part {
    width: 100%;
    padding: 40px 40px 80px 40px;
    background-size: cover;
    box-sizing: border-box;
}

.top-part-text {
    margin-bottom: 20px;
}

.top-part-text span {
    font-size: 2em;
    display: inline-block;
    color: #fff;
}

.top-part-text span:nth-of-type(2) {
    margin: 0 40px;
    position: relative;
}

.top-part-text span:nth-of-type(2)::before,
.top-part-text span:nth-of-type(2)::after {
    content: '';
    position: absolute;
    top: calc(50% - -3px);
    transform: translateY(-50%);
    width: 2px;
    height: 20px;
    background: #fff;
}

.top-part-text span:nth-of-type(2)::before {
    left: -20px;
}

.top-part-text span:nth-of-type(2)::after {
    right: -20px;
}

/* WEATHER INFO */

.weather-info {
    background: #fff;
    display: inline-block;
    width: 650px;
    border-radius: 25px;
}

.weahter-info-header, .weather-info-body {
    padding: 20px;
    box-sizing: border-box;
}

.weahter-info-header {
    border-bottom: 1px dashed #D6D6D6;
    position: relative;
}

.weahter-info-header > p, .weather-info-weather {
    display: inline-block;
}

.weahter-info-header > p {
    font-size: 1.3em;
    letter-spacing: 2.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.weather-info-weather {
    float: right;
}

.weather-info-weather > span, .lowHigh, .weather-info-weather .svg {
    vertical-align: middle;
}

.weather-info-weather > span {
    font-size: 1.8em;
    margin: 0 10px;
}

.lowHigh {
    display: inline-block;
}

.weather-info-body {
    display: flex;
    flex-direction: row;
}

.weather-info-details {
    flex-grow: 4;
    text-align: center;
}

.weather-info-details > div img, .weather-info-details > div span {
    display: inline-block;
}

.weather-info-details > div img {
    margin-right: 5px;
}

.weather-info-details span {
    display: block;
}
