﻿/* Place custom styles below */
body {
    overflow: hidden;
    color: white;
    font-family: 'Lato', sans-serif;
}
p {
    margin: 0;
}
.container {
    width: 414px;
    height: 896px;
}

.backgroundPicture {

    width: 414px;
    height: 896px;
}
.highLow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
}
.highLow-label {
    text-align: left;
}
.weatherPrognos {
    font-size: 28px;
    margin: 12px;
    text-align: center;
}
.location {
    position: absolute;
    z-index: 1;
    top: 40px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    letter-spacing: 1.5px;
}
.windInfo {
    text-align: center;
}
.dateDay, .dateInfo, .timeNow {
    margin: 14px;
    text-align:center;
    letter-spacing: 1.2px;
    font-size: 20px;
}
.middleRow{
    margin: 10px;
}
.degrees {
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    left: calc(50% - 2px);
    transform: translateX(-50%);
}
    .degrees > p {
        font-size: 63px;
        display: inline-block;
        vertical-align: middle;
    }
.topPart {
    height: 50%;
    position: relative;
    height: calc(50% - 80px);
}
.bottomPart {
    height: 50%;
    position: relative;
}

.row-item {
    width: 100%;
    position: relative;
    display: table;
    table-layout: auto;
    letter-spacing: 1.5px;
}

.columnOne, .columnTwo, .columnThree {
    display: table-cell;
    font-weight: 600;
    
}
.row-item-one, .row-item-two, .row-item-three, .row-item-four, .row-item-five {
    margin-left: 20px;
}
.columnOne {
    margin-left: 10px;
}
.columnTwo, .columnThree {
    display: block;
}
.row-part:not(:last-of-type)::after {
    content: '';
    display: block;
    width: 50%;
    margin: 25px auto;
    height: 1px;
    background: #fff;
}
#button-link {
    width: 50%;
    margin: 25px auto;
    background-color: #fff;
    color: dimgrey;
    text-align: center;
    padding: 14.4px;
    border-radius: 25px;
    font-weight: 600;
}
a {
    color: dimgrey;
    text-decoration:none;
}