body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: #9A9A9A;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0; }

ul {
  padding-left: 0; }

.hide {
  display: none; }

.yellow-text {
  color: #F9CE5A; }

.clearfix {
  display: block;
  clear: both;
  width: 100%; }

#s4-titlerow {
  display: none !important; }

.section-heading {
  text-align: center;
  font-weight: 400;
  margin: 40px 0; }

.graph-section {
  position: relative; }

.graph-content {
  display: none; }

.graph-content.active {
  display: block; }

/* TOP PART */
.top-part {
  width: 100%;
  padding: 40px 40px 80px 40px;
  background-size: cover;
  box-sizing: border-box; }

.top-part-text {
  margin-bottom: 20px; }

.top-part-text span {
  font-size: 2em;
  display: inline-block;
  color: #fff; }

.top-part-text span:nth-of-type(2) {
  margin: 0 40px;
  position: relative; }

.top-part-text span:nth-of-type(2)::before,
.top-part-text span:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: calc(50% - -3px);
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background: #fff; }

.top-part-text span:nth-of-type(2)::before {
  left: -20px; }

.top-part-text span:nth-of-type(2)::after {
  right: -20px; }

/* WEATHER INFO */
.weather-info {
  background: #fff;
  display: inline-block;
  width: 650px;
  border-radius: 25px; }

.weahter-info-header, .weather-info-body {
  padding: 20px;
  box-sizing: border-box; }

.weahter-info-header {
  border-bottom: 1px dashed #D6D6D6;
  position: relative; }

.weahter-info-header > p, .weather-info-weather {
  display: inline-block; }

.weahter-info-header > p {
  font-size: 1.3em;
  letter-spacing: 2.5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.weather-info-weather {
  float: right; }

.weather-info-weather > span, .lowHigh, .weather-info-weather .svg {
  vertical-align: middle; }

.weather-info-weather > span {
  font-size: 1.8em;
  margin: 0 10px; }

.lowHigh {
  display: inline-block; }

.weather-info-body {
  display: flex;
  flex-direction: row; }

.weather-info-details {
  flex-grow: 4;
  text-align: center; }

.weather-info-details > div img, .weather-info-details > div span {
  display: inline-block; }

.weather-info-details > div img {
  margin-right: 5px; }

.weather-info-details span {
  display: block; }

.tabs {
  position: absolute;
  top: -80px;
  /* height of tab plus margin-top of section heading */ }

.tab {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: #F2F2F2;
  position: relative;
  color: #727272;
  padding: 8px 16px;
  cursor: pointer; }
  .tab:not(:first-of-type) {
    margin-left: -3px; }
  .tab.active {
    background: #fff;
    z-index: 1;
    color: #9A9A9A; }

.chart {
  max-width: calc(100% - 80px);
  width: 100%;
  margin: auto; }
  .chart-legend {
    height: 2px;
    width: 40px;
    display: inline-block; }
    .chart-legend-label-text {
      color: blue; }

/*# sourceMappingURL=Style.css.map */
